.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px 20px;
    color: white;
  }
  
  .header__left {
    flex: 1;
  }
  
  .header__logo {
    color: #1db954;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .header__center {
    flex: 2;
    display: flex;
    justify-content: center;
  }
  
  .header__searchInput {
    background-color: #121212;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    outline: none;
    width: 300px;
  }
  
  .header__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  
  .header__login,
  .header__signup {
    background-color: transparent;
    border: 1px solid white;
    padding: 6px 12px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
  }
  
  .header__signup {
    background-color: #1db954;
    border: none;
  }
  .header__button {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 5px;
  }
  
  /* Mute Button */
  .header__mute {
    background-color: #1db954; /* Spotify green */
    color: white;
  }
  
  .header__mute:hover {
    background-color: #14833b; /* Darker green for hover */
    color: #f5f5f5;
  }
  
  /* Change Song Button */
  .header__changeSong {
    background-color: #535353; /* Dark gray */
    color: white;
  }
  
  .header__changeSong:hover {
    background-color: #2c2c2c; /* Even darker gray for hover */
    color: #f5f5f5;
  }
  